In [130]:
import numpy as np
import pandas as pd
import os

In [116]:
data_dir = "data/"

data = list()

for filename in os.listdir(data_dir):
    file = os.path.join(data_dir, filename)
    data.append(np.loadtxt(file))

In [117]:
for i in range(len(data)):
    data[i][:, 0] = data[i][:, 0] + (i * 538)

In [118]:
for i in range(len(data)):
    print(data[i][:, 0][-1])

537.0
1075.0
1613.0
2151.0
2689.0
3227.0
3765.0
4303.0
4841.0
5379.0

In [119]:
merged = data[0]

In [120]:
for file_input in data[1:]:
    merged = np.concatenate((merged, file_input))

In [131]:
df_global = pd.DataFrame(merged)

In [137]:
df_global[[0, 1]] = df_global[[0, 1]].astypeype(int)

In [141]:
df_global = df_global.sort_values([1, 0], ascending=(True, True))

In [142]:
df_global

            0    1       2       3        4      5      6      7
5940       12    0  3.2141  0.6925  66.8928  255.0  255.0  255.0
6437       13    0  3.5502  0.6937  66.8767  255.0  255.0  255.0
6934       14    0  3.8862  0.6949  66.8576  255.0  255.0  255.0
7431       15    0  4.2221  0.6961  66.8369  255.0  255.0  255.0
7928       16    0  4.5580  0.6972  66.8164  255.0  255.0  255.0
...       ...  ...     ...     ...      ...    ...    ...    ...
1979640  5375  499 -0.1016 -0.0029  -0.2144  114.0  114.0  114.0
1980136  5376  499 -0.1022 -0.0030  -0.2184   86.0   86.0   86.0
1980586  5377  499 -0.1046 -0.0031  -0.2265  112.0  112.0  112.0
1981046  5378  499 -0.1072 -0.0032  -0.2353  192.0  192.0  192.0
1981442  5379  499 -0.1057 -0.0032  -0.2351  212.0  212.0  212.0

[1981443 rows x 8 columns]